* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track (the area on which the thumb drags) */
::-webkit-scrollbar-track {
  background: ghostwhite;
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 5px;
}